*{
    margin: 0;
    padding: 0;

    color: #EAE4C8;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 23px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1C2F75;
}

.settings{
    margin: 30px auto;
    text-align: center;
}

#color-picker-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.grid{
    display: flex;
    flex-direction: column;
    
    width: 600px;
    height: 600px;
    border: 10px solid #EAE4C8; 
    background-color: white;
    margin-bottom: 60px;
}

.row{
    display: flex;
    
}

.cell{
    /* border: thin solid #ebedeb;  */
    box-sizing: border-box;
}


button{
    background-color: #EAE4C8;
    border: none;
    color: #1C2F75;
    padding: 5px 10px;
}

