*{
    margin: 0;
    padding: 0;

    color: #EAE4C8
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1C2F75;
}

.settings{
    margin: 50px auto;
    text-align: center;
}

#color-picker-container{
    margin: 30px auto;
}
.grid{
    display: flex;
    flex-direction: column;
    
    width: 600px;
    height: 600px;
    border: 10px solid #EAE4C8; 
    background-color: #cfcfcf;
    margin-bottom: 60px;
}

.row{
    display: flex;
    
}

.cell{
    /* border: thin solid #ebedeb;  */
    box-sizing: border-box;
}
